body{

   background-color:#99ccff;
}

h1{

   border-style: solid;
}

h2{
color: purple;
}

input{

  border-style: solid;
  color: red;
}


.textbox{
  border: 5px solid gray ;
  width: 800px ;
  height: 400px;
}

a{
  color: red;
}

.itemone{
  text-decoration: overline;
  color: purple;
}

.exit{
  background-color: blue;
  border: 4px dashed yellow;
}
